// @import './styles.css';

@import './components/header.scss';
@import './components/main.scss';
@import './components/footer.scss';

@import './components/homePage.scss';
@import './components/myFilmLibraryPage.scss';
// @import './components/detailsPage.scss';
@import './components/detailsPage.css';

// @import './fonts.scss';
@import './reset.scss';
@import './styles.css';


header {
    width: 320px;
    padding: 0 22px;
    margin: 0 auto;
    box-sizing: border-box;
  }

main{
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

footer{
  width: 320px;
  padding: 0 22px;
  margin: 0 auto;
  box-sizing: border-box;
}
  
  .container {
    width: 320px;
    padding: 0 22px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    header {
        width: 716px;
        padding: 0 32px;
    }

    main {
        width: 716px;
    }

    footer{
      width: 716px;
      padding: 0 32px;
    }
  
    .container {
      width: 716px;
      padding: 0 32px;
    }
  }
  
  @media (min-width: 1024px) {
    header  {
      width: 948px;
      padding: 0 32px;
    }

    main {
        width: 964px;
    }
  
    .container {
      width: 914px;
      padding: 0 64px;
    }
  }
  